﻿
  <nav class="navbar navbar-default" style="top:-15px; margin-bottom:0px">
  <div class="container-fluid">
                <a href="/" class="b-left b-logo ">
                    <img class="color-theme" style="transform:scale(.6)" data-retina="" src="/img/smooth final.jpg" alt="Logo" /></a>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Active Cources&nbsp;<span class="badge">3</span></a></li>
           <li><a href="#">Pending Courses</a></li>
          <li><a href="#">Total Courses</a></li>
 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown-menu" role="button" aria-expanded="false"><i class="fa fa-user"></i>&nbsp;{{profile.seeker_profile.first_name}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
           
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>