﻿<!--<div class="container">
        <div class="row">

            <div class="b-education-box b-infoblock">

                            <% for( i=0;i<3;i++){%>

               <div class="col-sm-6 col-md-4">
                    <div class="b-some-examples__item f-some-examples__item">
                        <div class="b-some-examples__item_img view view-sixth">
                            <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="/img/education/education_1.jpg" alt=""/></a>
                            <div class="b-item-hover-action f-center mask">
                                <div class="b-item-hover-action__inner">
                                    <div class="b-item-hover-action__inner-btn_group">
                                        <a href="/index/<%=names[i]%>" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-some-examples__item_info">
                            <div class="b-some-examples__item_info_level b-some-examples__item_name f-some-examples__item_name f-secondary-b c-primary">
                                <a href="education_detail.html"><%=names[i]%></a></div>
                            <div class="b-some-examples__item_info_level b-some-examples__item_double_info f-some-examples__item_double_info f-uppercase f-title-extra-small">
                                <div class="b-right">Duration: <%=Days_c[i]%></div>
                                <div class="b-remaining">Starts: <%=Nextbatch_c[i]%></div>
                            </div>
                            <div class="b-some-examples__item_info_level b-some-examples__item_description f-some-examples__item_description f-secondary-l ">
                              <%=Topics_c[i]%>
                            </div>
                        </div>
                        <div class="b-some-examples__item_action">
                            <div class="b-right">
                                <a href="education_detail.html" class="b-btn f-btn b-btn-sm f-btn-sm b-btn-default f-secondary-b">More Info..</a>
                            </div>
                            <div class="b-remaining b-some-examples__item_total f-some-examples__item_total f-secondary-b">Rs:<%=Cost_c[i]%></div>
                        </div>
                    </div>
                </div>
                <%}%>-->


                <div class="clearfix  hidden-sm"></div>
                <div class="b-pagination f-pagination">
    <ul>
        <li><a href="#">First</a></li>
        <li><a class="prev" href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="is-active-pagination"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a class="next" href="#"><i class="fa fa-angle-right"></i></a></li>
        <li><a href="#">Last</a></li>
    </ul>
</div>