<div class="col-sm-6 col-md-4">
				
                    <div class="b-some-examples__item f-some-examples__item">
                        <div class="b-some-examples__item_img view view-sixth">
    <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="img/education/education_3.jpg" alt=""/></a>
    <div class="b-item-hover-action f-center mask">
        <div class="b-item-hover-action__inner">
            <div class="b-item-hover-action__inner-btn_group">
                <a href="education_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
            </div>
        </div>
    </div>
</div>
                        <div class="b-some-examples__item_info">
                            <div class="b-some-examples__item_info_level b-some-examples__item_name f-some-examples__item_name f-secondary-b c-primary"><a href="education_detail.html">Graduate Diploma in Human ...</a></div>
                            <div class="b-some-examples__item_info_level b-some-examples__item_double_info f-some-examples__item_double_info f-uppercase f-title-extra-small">
                                <div class="b-right">Duration: 3 Years</div>
                                <div class="b-remaining">Starts: January 31, 2014</div>
                            </div>
                            <div class="b-some-examples__item_info_level b-some-examples__item_description f-some-examples__item_description f-secondary-l ">
                                Suspendisse blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis quam vel accumsan  dertook grunted less jeez hound.
                            </div>
                        </div>
                        <div class="b-some-examples__item_action">
                            <div class="b-right">
                                <a href="education_detail.html" class="b-btn f-btn b-btn-sm f-btn-sm b-btn-default f-secondary-b">Apply now</a>
                            </div>
                            <div class="b-remaining b-some-examples__item_total f-some-examples__item_total f-secondary-b">$90/ month</div>
                        </div>
                    </div>
                </div>