﻿ <!DOCTYPE html>
<html data-ng-app="nginstitutepage">
    <% include Partials/header.ejs%>
    <body >
         <span id="instiId" style="visibility:hidden"><%=instiId%></span>
        <% include Partials/navigation.ejs%>

         <div class="container"  data-ng-model="data" >

             <div class="row">
                <img class="span2" src="http://placehold.it/80x80" alt="">
                 </div>

             <br />
             <div class="row">
                <div class="col-md-6 col-md-6" >
    
      <h4  style="color:rgba(0, 0, 0, 0.65)">ABC by XYZ coaching institute</h4>
                     
                    <h5>Course : </h5>
                    <h5>Timing : </h5>
                    <h5>Location : </h5>
                    <h5>Start Date : </h5>
                    <h5>Course Fee : </h5>
                     <h5>Topics : </h5>
                    </div>
                  <div class="col-md-6 col-md-6" style="background-color:rgba(174, 186, 169, 0.47)">
  geo location
                      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
   
                    </div>
                 </div>

<!---------------------------------------------- below main details----------------------->

             <div class="row">
                <div class="col-md-9 col-md-9">
                    <ol class="breadcrumb">
  <li><span>About Provider</span></li>
 
</ol>

                    <p>
                        The oldest classical Greek and Latin writing had little or no spaces between words or other ones, 
                        and could be written in boustrophedon (alternating directions). Over time, text direction (left to right)
                         became standardized, and word dividers and terminal punctuation became common. The first way to divide
                         sentences into groups was the original paragraphos, similar to an underscore at the beginning of the new 
                        group.[3] The Greek paragraphos evolved into the pilcrow (¶), which in English manuscripts in the Middle A
                        ges can be seen inserted inline between sentences. The hedera leaf (e.g. ☙) has also been used in the same way.

                    </p>


                    <!------------ may be Images---->
                    <div class="row">
                         <div class="col-md-6 col-md-6"></div>


                        <div class="col-md-3 col-md-3">
                             <img class="span2" src="http://placehold.it/400x400" alt="">
                        </div>
                    
                        </div>
                </div>
             <div id="col-md-3 col-md-3">

                 our other course
                  <h5>Java</h5>
                    <h5>PhP</h5>
                    <h5>Webdesigning</h5>
                    <h5>asp.net</h5>
                    <h5>Nodejs</h5>
                     <h5>Ruby</h5>
             </div>
                 
                 </div>

</div>


 <div data-ng-controller="institutepage_controller">
<div>
   
     </div>
     </div>        

      <% include Partials/footer.ejs%>
  <% include Partials/scripts.ejs%>
</body>
</html>