/* Add here all your CSS customizations */



select::-ms-expand {
    width:12px;
    border:none;
    background:#fff;
}

input.ng-invalid.ng-dirty{
    border:1px solid red;
}

.error {
    font-size:small;
    color:red;
}

.b-sort-panel__inner a:hover{
    color:#808080;
}
.b-sort-panel__inner .active{
    color:#808080;
}

.f-tabs ul li a{
    color:#b94343;
}
.b_SAP{
    background-color:#419a2b;
}

.b_VLSI{
    background-color:#2b489a;
}

.b_PMP{
    background-color:#71b62b;
}

.b_color{
    background-color:rgba(22, 21, 21, 0.59);
}

.b_Java{
    background-color:#b94343;
}

.b-option-cart__items {
    background-color: #fff;
    border: 1px solid rgba(128, 128, 128, 0.39);
    position:absolute;
    margin:0px;
    top:30px;
}

/* dropdown items*/

.b-top-nav__dropdomn {
    padding:5px;
}

.b-top-nav__dropdomn ul li{
    padding:1px;

    display:inline-block;
    text-decoration:none;
}

.b-top-nav__dropdomn ul li  a{
    text-decoration:none;
    display:inline-block;
    border:none;
    padding:3px;

}




/* custom round icons ends*/

.b-top-nav_cat li{
    text-decoration:none;
    font-weight:500;
}

.div_full {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:2000;
    width:100%;
    height:100%;

}


.my_form_content {
    display: none;
    position: inherit;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 16px;
    border: 1px solid rgba(222, 213, 197, 0.1);
    z-index:10001;
    overflow: auto;
    margin-bottom:10px;
    background-color:#fff;
}



.border0 {
    border:0px;
}

.b-form-horizontal_search_input {
    width: 400px;
    margin:0px;
    display:inline-block;


}


.grey_back {
    background-color:#dedede;
}
.white_back {
    background-color:#dedede;
}

/* Search page*/
.custsidebar {
    background-color:rgba(231, 235, 239, 0.11);
    padding:0px;
    border:0px solid rgba(255, 255, 255, 0.00);
    color:rgba(22, 21, 21, 0.59);
    padding:10px;
}
.custsidebar ul li {


    padding:0px;
    border:0px;
}
.custsidebar ul li a{
    padding:4px;
    border:0px;
    color:rgba(38, 31, 31, 0.90);
    font-size:14px;
}
.custsidebar ul li a:hover{
    background-color:rgba(243, 112, 26, 0.75);
    color:#fff;
}


.searchTextBox {
    border:0px solid;
}

/*Provider custom css*/

.active {
    background-color:pink;
}

/* provider custom css ends*/

.thumbnail thumbnails_courses {
    background-color:white;
    margin-bottom:0px;
}
/* horizontal thumbnail starts*/
.thumbnail {
    margin-bottom:50px;
    padding:0px;
    background-color:rgba(129, 131, 129, 0.04);
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 0px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 0px;
}

/* horizontal thumbnail ends*/


/* Institutesfor css*/
.tab_a{

    color:red;
    padding:0px;
    margin:0px;
}

.ul_tab {
    color:red;
}

.tab_a ul li a{
    color:red;
    border-bottom:2px solid red;
}

/* Institutesfor css ends*/

/*login page css*/
.login-back {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:1000;
    width:100%;
    height:100%;

}

.loginScreen {
    height:380px;
    width:340px;
    margin:0 auto;
    position:relative;
    z-index:10001;
    background-color:#fff;
    margin-top:auto;
    margin-bottom:auto;
    border:5px solid #cccccc; border-radius:10px; }
.loginScreen:target, .loginScreen:target + .login-back{
    display:block;
    opacity:2;

}

.cancel { display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:rgb(245,245,245);
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold; }

/*login page ends*/

/*Providers page css*/
.provider_page{
    background-color:rgba(239, 243, 233, 0.39);
    color:#000;
}

.tab_item{
    background-color:#fff;
    color:#000;
}

.courseheader{
    color:rgba(22, 21, 21, 0.59);
    background-color:rgba(239, 243, 233, 0.39);
}

.margin{
    margin:3px;
}

.open > .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 500ms ease, visibility 500ms ease;
    -moz-transition: opacity 500ms ease, visibility 500ms ease;
    -o-transition: opacity 500ms ease, visibility 500ms ease;
    transition: opacity 500ms ease, visibility 500ms ease;
}

/*Providers page css ends*/

/*Text On Image*/
.post-content {
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.85;
    padding-bottom: 1px;
    padding-top:1px;
    margin-top: -44px;
    text-align:center;
    position: relative;
    width:100%;



}

.search_div {
    background-color:white;
    color:rgba(128, 128, 128, 0.87);
    max-height:200px;
    z-index:2000;
    text-decoration:none;
    position:relative;
    height:auto;

}


.search_div a{
    display:inline-block;
    padding:4px;
    width:100%;
    margin:auto;

    color:rgba(128, 128, 128, 0.78);

}
.search_div a:hover {
    background-color:rgba(173, 170, 170, 0.53);
    color:rgba(22, 21, 21, 0.59);
}



/*============================= search CSS============================*/
/* * Copyright (c) 2012 Thibaut Courouble
 * Licensed under the MIT License
   ================================================== */

/*body {
    background: #f7f7f7;
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

a {
    color: #1e7ad3;
    text-decoration: none;
}

a:hover { text-decoration: underline }

.container, .main {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.main { margin-top: 50px }

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}*/
#ulsearch li a{
    text-decoration:none;
    color:rgba(22, 21, 21, 0.59);
    padding:0px;
    display:block;
    padding:8px;
}
#ulsearch li {
    text-decoration:none;
    color:rgba(22, 21, 21, 0.59);
    display:block;
}
#ulsearch {
    position:absolute;
    background-color:#f8f6f6;
    margin:5px;
    padding:10px;
    width:100%;

    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#ulsearch a:hover {
    text-decoration: none;
    background-color: rgba(248, 205, 153, 0.52);
}


.searchbutton {
    background-color:rgb(96, 198, 42);
    text-align:center;
    width:100%;
    z-index:100;
    color:white;
    /* font-size:large;
    margin:auto;
    padding-top:8px;
    padding:0px;
    margin:0px;
    cursor:pointer;
    float:left;
    height:43px; */
}



.search {
    position: relative;
    margin: 0 auto;
    padding-left:0px;
    padding-right:0px;
    color:rgba(0,0,0,0.9);
    font-size:14px;
}

.search ul li a {
    text-align:left;


}

/* .search input {
    height: 50px;
    width: 100%;
    /*padding: 0 12px 0 25px;*/
/*background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;*/
/*  border-width: 0px;
  border-style: solid;
  border-color: #a8acbc #babdcc #c0c3d2;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
} */
.ui-menu {
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
    .ui-menu .ui-menu-item {
        display: block;
        position: relative;
        margin: 0 -1px;
        padding: 6px 40px 6px 10px;
        color: #808394;
        font-weight: 600;
        font-size: 12px;
        /*text-shadow: 0 1px #fff;*/
        border-bottom: 1px solid #ccc;
        border-radius: 3px;
    }
.search input {
    height: 50px;
    width: 100%;
    /*padding: 0 12px 0 25px;*/
    /*background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;*/
    border-width: 0px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;

}
.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    /*text-shadow: 0 1px #fff;*/
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    background-color:rgba(248, 205, 153, 0.52);

    /*color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);*/
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }

.searchdisc {
    font-size:12px;
    color:rgba(128, 128, 128, 0.87);
    text-align:left;
}

.hilight {
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.65;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    bottom: 0px;
    z-index: 1;
}

.hilight1 {
    background-color: rgba(22, 21, 21, 0.59);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    bottom: 0px;
    z-index: 1;
}

.promo {
    position: relative;
}
.promo img {
    z-index: 1;

}

/* auto complete list styling - added by soundar(09/07/2015) */
.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;

}