﻿<div id="tabs-3" data-ng-controller="profileupdate">

    <div class="b-tabs-vertical__content-text">
        <div class="row b-col-default-indent">
            <div class="col-md-11">
                <div class="b-product-cart-small">
                    <div class="b-product-cart-small__header courseheader">
                        <div class="f-primary-b f-uppercase f-title-small">Profile</div>
                    </div>

                    <!------------------------------------------------------- items starts -------------------------------------------------------->


                    <form class="form1 a" id="profile-form" style="padding: 10px;" data-ng-submit="submitprofile(profile)" enctype="multipart/form-data">


                        <!-- 3 1 form item-->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="providerId">Provider ID</label>
                            <div class="col-md-6">
                                <input type="text" name="providerId" value="" id="providerId" class="form-control" data-ng-model="profile.email" required />
                            </div>
                        </div>
                        <!-- 3 2 form item-->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="instiname">Company/Institute Name</label>
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" class="form-control" data-ng-model="profile.instiName" required />
                            </div>
                        </div>
                        <!-- 3 3 form item-->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="Address1">Address1</label>
                            <div class="col-md-6">
                                <textarea id="Address1" name="Address1" class="form-control" data-ng-model="profile.Address1" required>{{data.Address1}}</textarea>
                            </div>
                            <span class="error" data-ng-show="myForm.Address1.$dirty && myForm.Address1.$error.required">*</span>
                        </div>
                        <!-- 3 4 form item-->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="Address2">Address2</label>
                            <div class="col-md-6">
                                <textarea name="Address2" id="Address2" class="form-control" data-ng-model="profile.Address2" required placeholder="alternative address#"></textarea>
                            </div>
                        </div>
                        <!---3 5 form item --->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_email">Country</label>
                            <div class="col-md-6">
                                <select name="Country" id="Country" class="form-control" data-ng-model="profile.Country" required>
                                    <option value="">Select Country</option>
                                    <option value="India">India</option>
                                </select>
                            </div>
                            <span class="error" data-ng-show="myForm.Country.$dirty && myForm.Country.$error.required">*</span>
                        </div>

                        <!---3 6 form item --->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_email">State</label>
                            <div class="col-md-6">
                                <select name="State" class="form-control" data-ng-model="profile.State" required data-ng-change="getCitiesforstate(profile.State)">
                                    <option value="">Select State</option>
                                    <option data-ng-repeat="state in states">{{state}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- 3 7 form item-->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="City">City</label>
                            <div class="col-md-6">
                                <select name="City" class="form-control" data-ng-model="profile.City" required>
                                    <option value="">Select City</option>
                                     <option data-ng-repeat="City in cities">{{City}}</option>
                                </select>
                            </div>
                        </div>
                        <!---3 8 form item --->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_email">Pin</label>
                            <div class="col-md-6">
                                <input type="text" name="Pin" id="Pin" class="form-control" data-ng-model="profile.Pin" required />
                            </div>
                            <span class="error" data-ng-show="myForm.Pin.$dirty && myForm.Pin.$error.required">*</span>
                        </div>
                        <!---3 9 form item --->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_email">Contact1</label>
                            <div class="col-md-6">
                                <input type="text" name="Contact1" id="Contact1" class="form-control" data-ng-model="profile.Contact1" required />
                            </div>
                            <span class="error" data-ng-show="myForm.Contact1.$dirty && myForm.Contact1.$error.required">*</span>
                        </div>
                        <!---3 10 form item --->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_email">Contact2</label>
                            <div class="col-md-6">
                                <input type="text" name="Contact2" id="Contact2" class="form-control" data-ng-model="profile.Contact2" required placeholder="alternative contact no#"/>
                            </div>
                            <span class="error" data-ng-show="myForm.Contact2.$dirty && myForm.Contact2.$error.required">*</span>
                        </div>
                        <!---3 11 form item you are--->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_email">You are a</label>
                            <div class="col-md-6">
                                <input type="text" name="Youare" id="Youare" class="form-control" data-ng-model="profile.Youare" required />
                            </div>
                            <span class="error" data-ng-show="myForm.Youare.$dirty && myForm.Youare.$error.required">*</span>
                        </div>
                        <!-- 3 12 form item-- Registration-->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label">Registration</label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="Registration" data-ng-model="profile.Registration"></textarea>
                            </div>
                        </div>
                        <!-- 3 12 form item-- What you offer ----->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" >whatyouoffer</label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="Textarea1" name="Whatyouoffer" data-ng-model="profile.whatyouoffer" placeholder="for attracting users"></textarea>
                            </div>
                        </div>
                        <!-- 3 12 form item-- Comments-->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label">Comments</label>
                            <div class="col-md-8">
                                <textarea class="form-control" name="comments" id="Textarea2" data-ng-model="profile.Comments"></textarea>
                            </div>
                        </div>
                        <!-- 3 13 submit-->
                        <div class="b-form-row">
                            <label class="b-form-horizontal__label" for="create_account_email"></label>
                            <div class="col-md-8">
                                <button class="btn btn-success" id="submitprofile">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
