﻿<div id="tabs-2">
    <div class="b-tabs-vertical__content-text">
        <!---------------- Search items start here -------------------->

        <div id="courselist" class="b-search-result-box">
            <div class="b-search-item" data-ng-repeat="items in providerallitems">
                <div class="pull-right">
                    <button class="btn btn-mini" style="padding: 0px 4px 0px 4px; background-color: rgba(37, 114, 159, 0.81); color: white" data-ng-click="editcourse(items._id)"><i class="fa fa-pencil"></i></button>
                    &nbsp;
              <button class="btn btn-mini" style="padding: 0px 4px 0px 4px; background-color: rgba(221, 30, 30, 0.81); color: white" data-ng-click="removecourse(items._id)"><i class="fa fa-trash-o"></i></button>

                    <!--- Status notifier------------>

                    <!--<i class="fa fa-check" style="color:#41ad16"></i>-->
                    <span class="label" style="background-color: rgba(52, 170, 43, 0.66); font-size: 9px;" data-ng-if="items.StatusByP =='Active'">{{items.StatusByP}}</span>
                    <span class="label" style="background-color: rgba(230, 213, 17, 0.79); font-size: 9px;" data-ng-if="items.StatusByP =='Inactive'">{{items.StatusByP}}</span>
                    <span class="label" style="background-color: rgba(213, 204, 39, 0.79); font-size: 9px;" data-ng-if="items.StatusByA =='Pending'">{{items.StatusByA}}..</span>
                    <span class="label" style="background-color: rgba(52, 170, 43, 0.66); font-size: 9px;" data-ng-if="items.StatusByA =='Approved'">{{items.StatusByA}}</span>
                </div>


                <div class="b-form-row f-h4-special b-form--mini clearfix">
                    <div class="pull-left">
                        <span class="b-blog-one-column__info_delimiter" style="width: 100px;">
                            <span style="color: #9c9292">ID :</span>
                            <span style="color: rgba(0, 0, 0, 0.95)">{{items.courseID}}</span>

                        </span>

                        <span class="b-blog-one-column__info_delimiter">
                            <span style="color: #9c9292"><i class="fa fa-calendar"></i></span>
                            <span>{{items.date}}</span>
                        </span>

                        <span class="b-blog-one-column__info_delimiter">
                            <span style="color: #9c9292">Domain :</span>
                            <span style="color: rgba(0, 0, 0, 0.95)">{{items.Domain}}</span>

                        </span>
                        <span class="">
                            <span style="color: #9c9292"><i class="fa fa-tags"></i></span>
                            <span style="color: rgba(0, 0, 0, 0.95)">{{items.PrimaryTag}}</span>

                        </span>
                    </div>
                    <br />
                </div>
            </div>
        </div>


        <!----------------------------------- edit item starts here -------------------------->

        <div id="editdataid" class="b-search-item" data-ng-model="editdata">


            <div class="b-form-row">
                <!-----data-ng-show="items.show"-->
                <div class="row b-col-default-indent">
                    <div class="col-md-11">
                        <div class="b-product-cart-small">
                            <div class="b-product-cart-small__header courseheader">
                                <div class="f-primary-b f-uppercase f-title-small"><a href="#" data-ng-click="backtolist()">back to list</a></div>
                            </div>
                            <br />

                            <!----- items starts ------->
                            <form class="form2 a" id="edit-form" data-ng-submit="updatecourse(editdata)">

                                <div class="col-xs-12">
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByP">Status</label>
                                        <div class="col-md-6">
                                            <select name="StatusByP" class="form-control" data-ng-model="editdata.StatusByP" required>
                                                <option value="">Select Status</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>

                                        </div>
                                        <span class="error" data-ng-show="myForm.Type.$dirty && myForm.Type.$error.required">*</span>
                                    </div>

                                    <!-- 1 1 form item- select item----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="City">Domain</label>
                                        <div class="col-md-6">
                                            <select name="Domain" class="form-control" data-ng-model="editdata.Domain" data-ng-change="getCourses(newcourse.Domain)" required>
                                                <option value="">Select Domain</option>
                                                <option data-ng-repeat="domain in domains">{{domain}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- 1 2 form item---- select item --------->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="TrainingName">TrainingName</label>
                                        <div class="col-md-6">
                                            <select name="TrainingName" class="form-control" data-ng-model="editdata.TrainingName" required>
                                                <option value="">Select Training Name</option>
                                                <option data-ng-repeat="training in TrainingName">{{training}}</option>
                                            </select>
                                        </div>
                                        <span class="error" data-ng-show="myForm.City.$dirty && myForm.City.$error.required">*</span>
                                    </div>


                                    <!-- 1 3 form item----- select item ------------->
                                    <div class="b-form-row">

                                        <label class="b-form-horizontal__label" for="City">Type</label>
                                        <div class="col-md-6">

                                            <select name="Type" class="form-control" data-ng-model="editdata.classtype" required>
                                                <option value="">Select Type</option>
                                                <option value="Classroom">Classroom</option>
                                                <option value="Online">Online</option>
                                                <option value="Individual">Individual</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- 1 4 form item-->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="create_account_email">PrimaryTag</label>
                                        <div class="col-md-6">
                                            <input type="text" name="PrimaryTag" id="Text1" class="form-control" data-ng-model="editdata.PrimaryTag" required />
                                        </div>

                                    </div>

                                    <!-- 1 5 form item-->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="create_account_email">SecondaryTag</label>
                                        <div class="col-md-6">
                                            <input type="text" name="SecondaryTag" id="Text3" class="form-control" data-ng-model="editdata.SecondaryTag" required />
                                        </div>

                                    </div>
                                    <!-- 1 6 form item-->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="create_account_email">Startdate</label>
                                        <div class="col-md-6">
                                            <div class="b-form-row b-form-control__icon-wrap">
                                                <input type="text" name="Startdate" id="StartdateEdit" class="form-control" data-ng-model="editdata.Startdate" required />
                                                <i class="fa fa-calendar-o b-form-control__icon f-form-control__icon" style="color: #cdcdcd"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 1 7 form item-->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="create_account_email">Enddate</label>
                                        <div class="col-md-6 b-form-row b-form-control__icon-wrap">
                                            <div class="b-form-row b-form-control__icon-wrap" style="margin-bottom: 0px">
                                                <input type="text" name="Enddate" id="EnddateEdit" class="form-control" data-ng-model="editdata.Enddate" required />
                                                <i class="fa fa-calendar b-form-control__icon f-form-control__icon" style="color: #cdcdcd"></i>
                                            </div>
                                        </div>
                                        <span style="margin-left: -100px; left: -100px; float: left"><i class="fa fa-calendar"></i></span>

                                    </div>
                                    <!-- 1 8 form item-->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="create_account_email">Fee</label>
                                        <div class="col-md-6">
                                            <input type="text" name="Fee" id="Text6" class="form-control" data-ng-model="editdata.Fee" required />

                                        </div>
                                    </div>
                                    <!-- 1 9 form item-->
                                    <div class="b-form-row">

                                        <label class="b-form-horizontal__label" for="TopicsToCover">TopicsToCover</label>
                                        <div class="col-md-6">
                                            <input type="text" name="TopicsToCover" id="Text7" class="form-control" data-ng-model="editdata.TopicsToCover" required />
                                        </div>
                                    </div>
                                    <!-- 1 10 form item-->
                                    <div class="b-form-row">

                                        <label class="b-form-horizontal__label">Video</label>
                                        <div class="col-md-6">
                                            <input type="text" name="Video" id="Text8" class="form-control" data-ng-model="editdata.Video" required />

                                        </div>
                                    </div>
                                    <!-- 1 11 form item-->
                                    <div class="b-form-row">

                                        <label class="b-form-horizontal__label">TeacherDetail</label>
                                        <div class="col-md-6">
                                            <input type="text" name="TeacherDetail" id="Text9" class="form-control" data-ng-model="editdata.TeacherDetail" required />
                                        </div>
                                        <span class="error" data-ng-show="myForm.TeacherDetail.$dirty && myForm.TeacherDetail.$error.required">*</span>
                                    </div>
                                    <!-- 1 12 form item-->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="Comments">Comments</label>
                                        <div class="col-md-6">
                                            <input type="text" name="Comments" id="Text10" class="form-control" data-ng-model="editdata.Comments" required />
                                        </div>
                                    </div>
                                    <!-- 1 13 submit-->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label"></label>
                                        <div class="col-md-8">
                                            <button class="btn btn-primary" >update</button>
                                        </div>
                                    </div>
                                    <label id="formupdated" style="color: rgba(53, 118, 34, 0.83)"></label>
                                </div>
                            </form>

                            <!-- getting the border--------->
                            <div
                                class="b-product-cart-small__content_row b-form-row--big b-shortcode-example b-null-bottom-indent">
                                <label class="c-tertiary b-null-bottom-indent"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!---- search items ends here ---------------------------->
    </div>


</div>
