﻿<div id="tabs-1" data-ng-controller="Admin_user_controller">
    <div class="b-search-result-box" data-ng-repeat="user in users">
        <div class="b-search-item">
            <div class="pull-right">
                <button class="button-turquoise margin b-infoblock-with-icon__icon" data-ng-click="toggle(user)"><i class="fa fa-pencil"></i></button>
                &nbsp;
              <button class="button-red margin b-infoblock-with-icon__icon" data-ng-click="removeuser(user._id)"><i class="fa fa-trash-o"></i></button>

                <!--- Status notifier------------>
                <span class="label label-warning" data-ng-if="user.Status =='Pending'">{{user.Status}}..</span>
                <span class="label label-success" data-ng-if="user.Status =='Approved'">{{user.Status}}</span>

            </div>
            <div class="b-form-row f-h4-special b-form--mini clearfix">
                <div class="pull-left">
                    <span class="b-blog-one-column__info_delimiter">ID : {{user.counterId}}</span>
                </div>
                <div class="pull-left">
                    <span class="b-blog-one-column__info_delimiter"><i class="fa fa-university"></i>{{user.instiName}}</span>
                </div>
                <div class="pull-left">
                    <span class="b-blog-one-column__info_delimiter"><i class="fa fa-clock-o"></i>{{user.LatupdateDate}}</span>
                </div>
                <div class="pull-left">
                    <span class="b-blog-one-column__info_delimiter"><i class="fa fa-location-arrow"></i>{{user.City}}</span>
                </div>
                <div class="pull-left">
                    <span class="b-blog-one-column__info_delimiter"><i class="fa fa-envelope-o"></i>{{user.email}}</span>
                </div>
                <br />

                <div class="b-form-row" data-ng-show="user.show">
                    <div class="row b-col-default-indent">
                        <div class="col-md-11">
                            <div class="b-product-cart-small">
                                <div class="b-product-cart-small__header courseheader">
                                    <div class="f-primary-b f-uppercase f-title-small">User Details</div>
                                </div>
                                <br />

                                <div class="col-xs-12">
                                    <!----- items starts ------->

                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="Status">Status</label>
                                        <div class="col-md-6">
                                            <select name="Type" id="userstatus" class="form-control" data-ng-model="user.Status" data-ng-change="updateuserstatus(user.Status,user._id)">
                                                <option value="Pending">Pending</option>
                                                <option value="Approved">Approved</option>
                                            </select>
                                        </div>
                                        <span class="error" data-ng-show="myForm.Type.$dirty && myForm.Type.$error.required">*</span>
                                    </div>

                                    <!-- 0 1 form item--counterId----->

                                    <!-- 0 1 form item--email----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Email</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.email">{{user.email}}</label>

                                    </div>
                                    <!-- 0 1 form item--gender----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Gender</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.gender">{{user.gender}}</label>

                                    </div>
                                    <!-- 0 1 form item--role----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Role</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.role">{{user.role}}</label>

                                    </div>
                                    <!-- 0 1 form item--InitDate----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Registered Date</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.InitDate">{{user.InitDate}}</label>

                                    </div>
                                    <!-- 0 1 form item--Address1----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Address1</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.Address1">{{user.Address1}}</label>

                                    </div>
                                    <!-- 0 1 form item--Address2----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Address2</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.Address2">{{user.Address2}}</label>

                                    </div>
                                    <!-- 0 1 form item--City----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">City</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.City">{{user.City}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">State</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.State">{{user.State}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Country</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.Country">{{user.Country}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Pin</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.Pin">{{user.Pin}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Contact1</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.Contact1">{{user.Contact1}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Contact2</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.Contact2">{{user.Contact2}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Youare</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.Youare">{{user.Youare}}</label>

                                    </div>

                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">whatyouoffer</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.whatyouoffer">{{user.whatyouoffer}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Comments</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.Comments">{{user.Comments}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">teacherdetail</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.teacherdetail">{{user.teacherdetail}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">Status</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.StatusByA">{{user.discriptionfile}}</label>

                                    </div>
                                    <!-- 0 1 form item--State----->
                                    <div class="b-form-row">
                                        <label class="b-form-horizontal__label" for="StatusByA">LatupdateDate</label>
                                        <label class="b-form-horizontal__label" data-ng-model="user.LatupdateDate">{{user.LatupdateDate}}</label>

                                    </div>
                                    <label id="Label1" style="color: rgba(53, 118, 34, 0.83)"></label>
                                </div>

                                <!-- getting the border--------->
                                <div class="b-product-cart-small__content_row b-form-row--big b-shortcode-example b-null-bottom-indent">
                                    <label class="c-tertiary b-null-bottom-indent"></label>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
