﻿<div id="tabs-2" data-ng-controller="Admin_course_controller">

    <div id="coursetable" class="col-md-11 col-sm-10 b-tabs-vertical__content">
        <div class="b-search-result-box" data-ng-model="data" data-ng-repeat="course in courses">
            <div class="b-search-item">
                <div class="pull-right">
                    <button class="button-turquoise margin b-infoblock-with-icon__icon" data-ng-click="toggle(course)"><i class="fa fa-pencil"></i></button>
                    &nbsp;
              <button class="button-red margin b-infoblock-with-icon__icon" data-ng-click="removecourcoursese(course._id)"><i class="fa fa-trash-o"></i></button>

                    <!--- Status notifier------------>

                    <span class="label label-warning" data-ng-if="course.StatusByA =='Pending'">{{course.StatusByA}}..</span>
                    <span class="label label-success" data-ng-if="course.StatusByA =='Approved'">{{course.StatusByA}}</span>

                    <!-- <div data-ng-if="{{items.StatusByP}} == inactive">
               <span id="Span1"  class="label label-warning">{{items.StatusByP}}</span>
                  </div>
               <span id="statusbya"  class="label label-success">{{items.StatusByA}}</span>
               -->

                </div>
                <div class="b-form-row f-h4-special b-form--mini clearfix">
                    <div class="pull-left">
                        <span class="b-blog-one-column__info_delimiter">ID : {{course.courseID}}</span>
                    </div>
                    <div class="pull-left">
                        <span class="b-blog-one-column__info_delimiter">{{course.providerid}}</span>
                    </div>
                    <div class="pull-left">
                        <span class="b-blog-one-column__info_delimiter"><i class="fa fa-clock-o"></i>{{course.date}}</span>
                    </div>
                    <div class="pull-left">
                        <span class="b-blog-one-column__info_delimiter">{{course.Domain}}</span>
                    </div>
                    <div class="pull-left">
                        <span class="b-blog-one-column__info_delimiter">{{course.TrainingName}}</span>
                    </div>
                    <div class="pull-left">
                        <i class="fa fa-tags"></i>{{course.PrimaryTag}}
                    </div>
                    <br />

                    <!-- <div class="b-blog-one-column__info_container">
                    <div class="b-blog-one-column__info f-blog-one-column__info">
                        Categories : <a href="#" class="f-more">Animation</a>, <a href="#" class="f-more">Game Design</a>
                        <span class="b-blog-one-column__info_delimiter"></span>
                        <a href="blog_detail_right_slidebar.html#comment" class="f-more f-primary"><i class="fa fa-comment"></i>12 Comments</a>
                    </div>
                </div>-->

                    <!--            <div class="b-form-row b-blog-one-column__text">
			<span class="f-more">Lorem</span>small details of the item
			</div>-->
                    <div class="b-form-row" data-ng-show="course.show">
                        <div class="row b-col-default-indent">
                            <div class="col-md-11">
                                <div class="b-product-cart-small">
                                    <div class="b-product-cart-small__header courseheader">
                                        <div class="f-primary-b f-uppercase f-title-small">Edit Course</div>
                                    </div>
                                    <br />
                                     <form class="form a" id="update-course-form" data-ng-submit="updatecourse(course)">
                                    <div class="col-xs-12">
                                        <!----- course starts ------->
                                        <!-- 1 0.1 form item--Admin----->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="StatusByA">Status</label>
                                            <div class="col-md-6">
                                                <select name="Type" class="form-control" data-ng-model="course.StatusByA">
                                                    <option value="Pending">Pending</option>
                                                    <option value="Approved">Approved</option>
                                                </select>
                                            </div>
                                            <span class="error" data-ng-show="myForm.Type.$dirty && myForm.Type.$error.required">*</span>
                                        </div>
                                        <!-- 1 0.2 form item-- Provider ------>

                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="StatusByP">Status</label>
                                            <div class="col-md-6">
                                                <select name="Type" class="form-control" data-ng-model="course.StatusByP">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                            <span class="error" data-ng-show="myForm.Type.$dirty && myForm.Type.$error.required">*</span>
                                        </div>
                                        <!-- 1 1 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="City">Domain</label>
                                            <div class="col-md-6">
                                                <select name="Domain" class="form-control" data-ng-model="course.Domain" data-ng-change="getCourses(course.Domain)">
                                                    <option data-ng-repeat="domain in domains">{{domain}}</option>
                                                </select>
                                            </div>
                                            <span class="error" data-ng-show="myForm.Domain.$dirty && myForm.Domain.$error.required">*</span>
                                        </div>

                                        <!-- 1 2 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="TrainingName">TrainingName</label>
                                            <div class="col-md-6">
                                                <select name="TrainingName" class="form-control" data-ng-model="course.TrainingName">
                                                    <option data-ng-repeat="TrainingName in TrainingNames">{{TrainingName}}</option>
                                                </select>
                                            </div>
                                            <span class="error" data-ng-show="myForm.City.$dirty && myForm.City.$error.required">*</span>
                                        </div>

                                        <!-- 1 3 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="City">Type</label>
                                            <div class="col-md-6">
                                                <select name="Type" class="form-control" data-ng-model="course.classtype">
                                                    <option value="Classroom">Classroom</option>
                                                    <option value="Online">Online</option>
                                                    <option value="Individual">Individual</option>
                                                </select>
                                            </div>
                                            <span class="error" data-ng-show="myForm.Type.$dirty && myForm.Type.$error.required">*</span>
                                        </div>

                                        <!-- 1 4 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="create_account_email">PrimaryTag</label>
                                            <div class="col-md-6">
                                                <input type="text" name="PrimaryTag" id="Text1" class="form-control" data-ng-model="course.PrimaryTag" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.PrimaryTag.$dirty && myForm.PrimaryTag.$error.required">*</span>
                                        </div>

                                        <!-- 1 5 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="create_account_email">SecondaryTag</label>
                                            <div class="col-md-6">
                                                <input type="text" name="SecondaryTag" id="Text3" class="form-control" data-ng-model="course.SecondaryTag" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.SecondaryTag.$dirty && myForm.SecondaryTag.$error.required">*</span>
                                        </div>
                                        <!-- 1 6 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="create_account_email">Startdate</label>
                                            <div class="col-md-6">
                                                <input type="text" name="Startdate" id="Text4" class="form-control" data-ng-model="course.Startdate" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.Startdate.$dirty && myForm.Startdate.$error.required">*</span>
                                        </div>
                                        <!-- 1 7 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="create_account_email">Enddate</label>
                                            <div class="col-md-6">
                                                <input type="text" name="Enddate" id="Text5" class="form-control" data-ng-model="course.Enddate" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.Enddate.$dirty && myForm.Enddate.$error.required">*</span>
                                        </div>
                                        <!-- 1 8 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="create_account_email">Fee</label>
                                            <div class="col-md-6">
                                                <input type="text" name="Fee" id="Text6" class="form-control" data-ng-model="course.Fee" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.Fee.$dirty && myForm.Fee.$error.required">*</span>
                                        </div>
                                        <!-- 1 9 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="TopicsToCover">TopicsToCover</label>
                                            <div class="col-md-6">
                                                <input type="text" name="TopicsToCover" id="Text7" class="form-control" data-ng-model="course.TopicsToCover" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.TopicsToCover.$dirty && myForm.TopicsToCover.$error.required">*</span>
                                        </div>
                                        <!-- 1 10 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label">Video</label>
                                            <div class="col-md-6">
                                                <input type="text" name="Video" id="Text8" class="form-control" data-ng-model="course.Video" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.Video.$dirty && myForm.Video.$error.required">*</span>
                                        </div>
                                        <!-- 1 11 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label">TeacherDetail</label>
                                            <div class="col-md-6">
                                                <input type="text" name="TeacherDetail" id="Text9" class="form-control" data-ng-model="course.TeacherDetail" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.TeacherDetail.$dirty && myForm.TeacherDetail.$error.required">*</span>
                                        </div>
                                        <!-- 1 12 form item-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label" for="Comments">Comments</label>
                                            <div class="col-md-6">
                                                <input type="text" name="Comments" id="Text10" class="form-control" data-ng-model="course.Comments" required />
                                            </div>
                                            <span class="error" data-ng-show="myForm.Comments.$dirty && myForm.Comments.$error.required">*</span>
                                        </div>
                                        <!-- 1 13 submit-->
                                        <div class="b-form-row">
                                            <label class="b-form-horizontal__label"></label>
                                            <div class="col-md-8">
                                                <button class="btn btn-success">update</button>
                                            </div>
                                        </div>
                                        <label id="formupdated" style="color: rgba(53, 118, 34, 0.83)"></label>
                                    </div>
                                         </form>
                                    <!-- getting the border--------->
                                    <div class="b-product-cart-small__content_row b-form-row--big b-shortcode-example b-null-bottom-indent">
                                        <label class="c-tertiary b-null-bottom-indent"></label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
